{% extends "dashboard_template.html" %}
{% block dashboard_body %}
        <div>
            <form id="new-task-form" method="POST" action="/task/add">
                <div class="row">
                    <div class="form-group">
                        <label for="name">Task name</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="desc">Description</label>
                        <textarea name="desc" id="desc" class="form-control"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 no-side-padding">
                        <div class="form-group col-md-6 no-side-padding">
                            <label>Start time and date</label>
                            <div class="col-md-12 no-side-padding">
                                <div class="col-md-4 no-side-padding">
                                    <input type="number" name="start-hour" id="start-hour" class="form-control"
                                           max="23" min="0" placeholder="Hour">
                                </div>
                                <div class="col-md-4 no-side-padding">
                                    <input type="number" name="start-min" id="start-min" class="form-control"
                                           max="59" min="0" placeholder="Minute">
                                </div>
                                <div class="col-md-4 no-side-padding">
                                    <input type="number" name="start-sec" id="start-sec" class="form-control"
                                           max="59" min="0" placeholder="Second">
                                </div>
                            </div>
                            <div class="col-md-12 input-group">
                                <span class="input-group-addon">Date</span>
                                <input type="text" name="start-date" id="start-date" class="form-control date-control">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>End time and date</label>
                            <div class="col-md-12 no-side-padding">
                                <div class="col-md-4 no-side-padding">
                                    <input type="number" name="end-hour" id="end-hour" class="form-control"
                                           max="23" min="0" placeholder="Hour">
                                </div>
                                <div class="col-md-4 no-side-padding">
                                    <input type="number" name="end-min" id="end-min" class="form-control"
                                           max="59" min="0" placeholder="Minute">
                                </div>
                                <div class="col-md-4 no-side-padding">
                                    <input type="number" name="end-sec" id="end-sec" class="form-control"
                                           max="59" min="0" placeholder="Second">
                                </div>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">Date</span>
                                <input type="text" name="end-date" id="end-date" class="form-control date-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 no-side-padding">
                        <label for="points">Enabled</label>
                        <input type="checkbox" name="enabled" id="enabled" class="checkbox">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-1 no-side-padding">
                        <label for="points">Points</label>
                        <input type="number" name="points" id="points" class="form-control" min="0" max="100">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-lg">
                        <input type="button" value="Cancel" class="btn btn-lg">
                    </div>
                </div>
            </form>
        </div>
        <script>
            $(function() {

            })
        </script>
{% endblock %}
