<!DOCTYPE html>
<html>
<head>
    <title>Todolist</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/libs/jquery-ui.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/libs/bootstrap-theme.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='build/todolist.min.css') }}">

    <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='build/todolist.min.js') }}"></script>
</head>
<body>
{% if False %}
{% block messages %}
{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        {% for error in errors %}
        <div class="alert alert-danger flash-message">
            {{ error }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% with warnings = get_flashed_messages(category_filter=["warning"]) %}
    {% if warnings %}
        {% for warning in warnings %}
        <div class="alert alert-warning flash-message">
            {{ warning }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% with messages = get_flashed_messages(category_filter=["message"]) %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info flash-message">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% with successes = get_flashed_messages(category_filter=["success"]) %}
    {% if successes %}
        {% for success in successes %}
        <div class="alert alert-success flash-message">
            {{ success }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}
{% endif %}

{% block body %}
{% endblock %}

</body>
</html>