{% extends "centered_template.html" %}
{% block centered_body %}

    <form id="login-form" class="login-signup-form form-group" action="/login" method="POST">
        <div class="row login-fields">
            <input type="text" id="username" name="username" placeholder="Username" class="form-control">
            <input type="password" id="password" name="password" placeholder="Password" class="form-control">
        </div>
        <div class="row login-signup-submit">
            <input type="submit" id="sign-in" value="Log in" class="btn btn-lg btn-primary">
        </div>
        <div class="row login-signup-other">
            <a href="/signup">Sign up</a>
        </div>
    </form>

{% endblock %}

