{% extends "default_template.html" %}
{% block body %}
        <div class="container container-fluid">
            <div class="col-md-2 col-md-offset-5">
                <div class="login-panel">
                    <form id="login-form" class="login-form form-group" action="/login" method="POST">
                        <div class="row login-fields">
                            <input type="text" id="username" name="username" placeholder="Username" class="form-control">
                            <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="row login-buttons">

                            <input type="submit" id="sign-in" value="Sign in" class="btn btn-lg btn-success">
                            <!--<input type="button" id="sign-up" value="Sign up" class="btn btn-lg btn-primary">-->
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}

