{% extends "dashboard_template.html" %}
{% block dashboard_body %}
<h1 class="page-header">Overview</h1>

    <h3>Currently active tasks</h3>
    <div class="list-group display-empty">
    {% for task in tasks["active"] %}
        <div class="list-group-item" id="{{ task.id }}">
            <div class="points-box ">
                {{ task.points }}
            </div>
            <div class="list-group-item-text task-item-text">
                {{ task.name }}
            </div>
            <div class="btn-toolbar list-group-item-text task-item-buttons">
                <div class="btn-group">
                    <a class="btn btn-default btn-xs" href="/task/delete/{{ task.id }}">Delete</a>
                    <a class="btn btn-default btn-xs" href="/task/edit/{{ task.id }}">Edit</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-success btn-xs" href="/task/finish/{{ task.id }}">Finish</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <h3>Completed tasks</h3>
    <div class="list-group display-empty">
    {% for task in tasks["completed"] %}
        <div class="list-group-item" id="{{ task.id }}">
            <div class="points-box ">
                {{ task.points }}
            </div>
            <div class="list-group-item-text task-item-text">
                {{ task.name }}
            </div>
            <div class="list-group-item-text task-item-buttons btn-group">
                <a class="btn btn-default btn-xs" href="/task/delete/{{ task.id }}">Delete</a>
                <a class="btn btn-default btn-xs" href="/task/edit/{{ task.id }}">Edit</a>
            </div>
        </div>
    {% endfor %}
   </div>


{% endblock %}

