{% extends "dashboard_template.html" %}
{% set active_page = "change-password" %}
{% block dashboard_body %}
        <div>
            <form id="task-form" method="POST">
                <div class="row">
                    <div class="form-group">
                        <label for="password">Enter your new password</label>
                        <input type="password" name="password" id="password" class="form-control">
                        <label for="repassword">Re-enter password to confirm</label>
                        <input type="password" name="repassword" id="repassword" class="form-control">
                    </div>
                </div>


                <div class="row">
                    <div class="form-group">
                        <input type="submit" value="Change my password" class="btn btn-lg btn-success">
                        <a class="btn btn-lg btn-default" href="/">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}