.login-form input {
    display: block;
}

.centered-template-centre {
    margin-top: 10%
}

.flash-message {
}

.task-item-buttons {
    display: inline;
    float: right;
}

.task-item-text {
    display: inline;
    margin-left: 10px;
}


.login-signup-submit input {
    display: inline;
    margin-top: 10px;
    width: 100%;
}

.login-signup-other {
    margin-top: 5px;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}





